<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, min-scale=1, width=device-width, user-scalable=yes" />
  <style>
    * {
      box-sizing: border-box;
    }
    html, body {
      margin: 0;
      border: 0;
      padding: 0;
      min-height: 100vh;
      font-family: sans-serif;
      font-size: 18px;
      font-weight: 300;
      background-color: hsla(0, 0%, 96%, 1);
    }
    a, a:link, a:visited, a:hover, a:active {
      color: inherit;
    }
    body {
      margin: 0 1.5rem;
    }
    body.font-loaded {
      font-family: 'Exo 2';
      font-weight: 100;
      /* Ratio of 'Exo 2' (weight: 100) to sans-serif
       * Determined using https://meowni.ca/font-style-matcher/
       */
      font-size: calc(64rem / 71); 
    }
    h1, h2, h3 {
      text-align: center;
      text-shadow: 0px 0px 2px hsla(0, 0%, 40%, 0.4);
      margin: 0.5em 0;
      font-weight: 300;
    }
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    @media (max-width: 400px) {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 1.05rem;
      }
    }
    .subtitle {
      margin-top: -2rem;
    }
    p.intro {
      max-width: 720px;
      margin: 1rem auto;
    }
    p.intro:last-of-type {
      margin-bottom: 0;
    }
    dl {
      max-width: 720px;
      margin: 1rem auto;x
    }
    dt {
      font-weight: 300;
    }
    hr {
      border: 0;
      border-top: 1px solid hsla(0, 0%, 0%, 0.3);
      box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.2);
      margin: 2rem 0 2rem -0.75rem;
      width: calc(100% + 1.5rem);
    }
    nav {
      max-width: 720px;
      margin: 0 auto;
    }
    #listing {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .function {
      width: 100%;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 1;
      align-content: flex-start;
      margin-bottom: 2rem;
    }
    .function:before {
      display: block;
      flex-shrink: 0;
      content: attr(data-function-name);
      text-align: left;
      font-size: 1.2rem;
      background-color: hsla(0, 0%, 0%, 0.1);
      margin: 0rem 0 1rem -1.5rem;
      
      padding: 1rem;
      flex-basis: calc(100% + 1rem);
    }
    @media (min-width: 1000px) {
      .function {
        flex-basis: calc(50% - 4rem);
        width: calc(50% - 4rem);
      }
      .function:before {
        margin-left: 0;
        flex-basis: 100%;
        flex-shrink: 1;
      }
    }
    .codeblock {
      border: 1px solid black;
      background-color: hsla(0, 0%, 100%, 0.54);
      padding: 0.5rem 1rem;
      margin: 0;
      display: none;
      flex-basis: 100%;
      flex-shrink: 1;
      overflow: auto;
      align-self: stretch;
    }
    input.codeselector {
      display: none;
    }
    label.codeselector {
      padding: 0.5rem 1rem;
      background-color: hsla(0, 0%, 100%, 0.54);
      border: 1px solid black;
      border-right: 0;
      border-bottom: 0;
    }
    label.codeselector:last-of-type {
      border-right: 1px solid black;
    }
    input.codeselector.fcode:checked ~ label.codeselector.fcode,
    input.codeselector.flazycode:checked ~ label.codeselector.flazycode,
    input.codeselector.fasynccode:checked ~ label.codeselector.fasynccode {
      background-color: hsla(50, 100%, 80%, 0.54);
    }
    input.codeselector.fcode:checked ~ .codeblock.fcode,
    input.codeselector.flazycode:checked ~ .codeblock.flazycode,
    input.codeselector.fasynccode:checked ~ .codeblock.fasynccode {
      display: block;
    }
    .syntaxhighlighter.syntaxhighlighter,
    .syntaxhighlighter table div.line.line.line {
      background-color: transparent !important;
    }
    .syntaxhighlighter code,
    .syntaxhighlighter .gutter div {
      font-family: monospace !important;
      font-size: 1rem !important;
      letter-spacing: -1.2px !important;
    }
    .font-loaded .syntaxhighlighter code,
    .font-loaded .syntaxhighlighter .gutter div {
      /* Ratio of 'Source Code Pro' (weight: 200) to sans-serif
       * Determined using https://meowni.ca/font-style-matcher/
       */
      font-family: 'Source Code Pro' !important;
      font-size: calc(64rem / 70) !important;
      letter-spacing: 0 !important;
      font-weight: 200 !important;
    }

  </style>
  <title>Underdash</title>
</head>
<body>
  <h1 class="title">Underdash</h1>
  <h2 class="subtitle">Just copy/paste what’cha need</h2>
  <p class="intro">
    Underdash is a collection of snippets for array and iterator manipulation. It’s <em>not</em> meant to be a library and is therefore not provided as a bundled .js file. The individual implementations are supposed to be short and concise enough that the code can be immediately understood and be copy-pasted. If a function doesn’t <em>quite</em> do what you want, you should feel comfortable adjusting and augmenting the snippet.
  </p>
  <p class="intro">
    Each function is provided in up to 3 flavors: 
    <dl>
      <dt>The Array versions</dt>
      <dd>Work on arrays and should yield behavior similar to the functions provided by <a href="https://lodash.com" target="_blank" rel="noopener">LoDash</a> or <a href="http://underscorejs.org/" target="_blank" rel="noopener">UnderscoreJS</a>.</dd>
      <dt>The Synchronous Iterator versions</dt>
      <dd>Are implemented using generators and work with any (non-asynchronous) iterable. They are effectively lazy implementations.</dd>
      <dt>The Asynchronous Iterator versions</dt>
      <dd>Are implemented using asynchronous generators and work with any iterable. They are effectively lazy implementations.</dd>
    </dl>
  </p>
  <p class="intro">
    Bug fixes, additions or discussion are welcome on <a href="https://github.com/surma/underdash">GitHub</a>. 
  </p>
  <hr>
    <nav>
      {{#each functions}}
      <a href="#{{name}}">{{name}}</a>, 
      {{/each}}
    </nav>
  <hr>
  <div id="listing">
    {{#each functions}}
      <section class="function" data-function-name="{{name}}" id="{{name}}">
        <input type="radio" name="{{name}}_radio" id="{{name}}_radio_fcode" class="codeselector fcode" checked>
        <input type="radio" name="{{name}}_radio" id="{{name}}_radio_flazy" class="codeselector flazycode">
        <input type="radio" name="{{name}}_radio" id="{{name}}_radio_fasync" class="codeselector fasynccode">
        <label class="codeselector fcode" for="{{name}}_radio_fcode">Arrays</label>
        {{#if fLazyCode}}
        <label class="codeselector flazycode" for="{{name}}_radio_flazy">Sync Iter</label>
        {{/if}}
        {{#if fAsyncCode}}
        <label class="codeselector fasynccode" for="{{name}}_radio_fasync">Async Iter</label>
        {{/if}}
        <div class="codeblock fcode">{{{fCode}}}</div>
        <div class="codeblock flazycode">{{{fLazyCode}}}</div>
        <div class="codeblock fasynccode">{{{fAsyncCode}}}</div>
      </section>
    {{/each}}
  </div>
  <footer>
    Built with 🐳 by <a href="https://twitter.com/DasSurma" target="_blank" rel="noopener">Surma</a>, Apache-2.0 license.
  </footer>
  <script>
    (function () {
      [
        'https://fonts.googleapis.com/css?family=Exo+2:100,300|Source+Code+Pro:200',
        'shCoreDefault.css'
      ]
      .forEach(href => {
        const link = document.createElement('link');
        link.href = href;
        link.rel = "stylesheet";
        link.onload = _ => document.body.classList.add('font-loaded');
        document.head.appendChild(link);
      })
    })();
  </script>
</body>
